@media screen and (max-width: 1000px){
    .titulo{
        width: 67%;
        height: auto;
        font-size: 25px;
        position: absolute;
        top:9%;
        left:20%;
       
    }
    .logo{
        width: 35px;
        border-radius: 20px;
        position: absolute;
        top:9%;
        left:10%;
        
    }
    h1{
        font-size: 1.5rem;
    }
    h3{
        font-size:1.5rem;
    }
    p{
        font-size: 1.5rem;
    }
    .linea{
        width: 75%;
        height: 1.5px;
    }
    .fotos{
        width: 150px;
        margin-top: 5px;
        height: auto;
        opacity: 0.7;
        transform: translateY(20px);
        transition: transform 0.5s, box-shadow 0.5s, opacity 0.6s;
    }
    form{
        width: 500px;
        height: auto;
        background: linear-gradient(to left, rgb(238, 147, 163),rgb(40, 35, 35));
        display:flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 50px;
        border-radius: 40px;
    }
    input{
        width: 80%;
        height: 50px;
        margin:10px;
        margin-left: 45px;
        border-radius: 5px;
    }
    
    textarea{
        padding: 5px;
        border-radius: 10px;
        margin:15px;
    }
    button{
        margin-left: 210px;
    }
    .redes{
        width: 100px;
        height: 100px;
        border-radius: 20px;
        margin-top: 0px;
        margin-left: 50px;
    }
    .logo2{
        width: 100%;
        height: auto;
        border-radius: 20px;
        /* box-shadow: 0 0 30px rgb(206, 206, 206 0.6); */
    }
    
    

}

@media screen and (max-width: 900px){
    .titulo{
        width: 67%;
        height: auto;
        font-size: 25px;
        position: absolute;
        top:8%;
        left:20%;
       
    }
    .logo{
        width: 35px;
        border-radius: 20px;
        position: absolute;
        top:8%;
        left:10%;
        
    }
    h1{
        font-size: 1.5rem;
    }
    h3{
        font-size:1.5rem;
    }
    p{
        font-size: 1.5rem;
    }
    .linea{
        width: 75%;
        height: 1.5px;
    }
    .fotos{
        width: 150px;
        margin-top: 5px;
        height: auto;
        opacity: 0.7;
        transform: translateY(20px);
        transition: transform 0.5s, box-shadow 0.5s, opacity 0.6s;
    }
    form{
        width: 500px;
        height: auto;
        background: linear-gradient(to left, rgb(238, 147, 163),rgb(40, 35, 35));
        display:flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 50px;
        border-radius: 40px;
    }
    input{
        width: 80%;
        height: 50px;
        margin:10px;
        margin-left: 45px;
        border-radius: 5px;
    }
    
    textarea{
        padding: 5px;
        border-radius: 10px;
        margin:15px;
    }
    button{
        margin-left: 210px;
    }
    .redes{
        width: 100px;
        height: 100px;
        border-radius: 20px;
        margin-top: 0px;
        margin-left: 50px;
    }
    .logo2{
        width: 100%;
        height: auto;
        border-radius: 20px;
        /* box-shadow: 0 0 30px rgb(206, 206, 206 0.6); */
    }
    
    

}

@media screen and (max-width: 800px){
    .titulo{
        width: 67%;
        height: auto;
        font-size: 25px;
        position: absolute;
        top:7%;
        left:20%;
       
    }
    .logo{
        width: 35px;
        border-radius: 20px;
        position: absolute;
        top:7%;
        left:10%;
       
    }
    h1{
        font-size: 1.5rem;
    }
    h3{
        font-size:1.5rem;
    }
    p{
        font-size: 1.5rem;
    }
    .linea{
        width: 75%;
        height: 1.5px;
    }
    .fotos{
        width: 140px;
        margin-top: 5px;
        height: auto;
        opacity: 0.7;
        transform: translateY(20px);
        transition: transform 0.5s, box-shadow 0.5s, opacity 0.6s;
    }
    form{
        width: 500px;
        height: auto;
        background: linear-gradient(to left, rgb(238, 147, 163),rgb(40, 35, 35));
        display:flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 50px;
        border-radius: 40px;
    }
    input{
        width: 80%;
        height: 50px;
        margin:10px;
        margin-left: 45px;
        border-radius: 5px;
    }
    
    textarea{
        padding: 5px;
        border-radius: 10px;
        margin:15px;
    }
    button{
        margin-left: 210px;
    }
    .redes{
        width: 100px;
        height: 100px;
        border-radius: 20px;
        margin-top: 0px;
        margin-left: 50px;
    }
    .logo2{
        width: 100%;
        height: auto;
        border-radius: 20px;
        /* box-shadow: 0 0 30px rgb(206, 206, 206 0.6); */
    }
    
    

}

@media screen and (max-width: 700px){
    .titulo{
        width: 67%;
        height: auto;
        font-size: 25px;
        position: absolute;
        top:6%;
        left:20%;
        
    }
    .logo{
        width: 35px;
        border-radius: 20px;
        position: absolute;
        top:6%;
        left:10%;
        
    }
    h1{
        font-size: 1.5rem;
    }
    h3{
        font-size:1.5rem;
    }
    p{
        font-size: 1.5rem;
    }
    .linea{
        width: 75%;
        height: 1.5px;
    }
    .fotos{
        width: 120px;
        margin-top: 5px;
        height: auto;
        opacity: 0.7;
        transform: translateY(20px);
        transition: transform 0.5s, box-shadow 0.5s, opacity 0.6s;
    }
    form{
        width: 500px;
        height: auto;
        background: linear-gradient(to left, rgb(238, 147, 163),rgb(40, 35, 35));
        display:flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 50px;
        border-radius: 40px;
    }
    input{
        width: 80%;
        height: 50px;
        margin:10px;
        margin-left: 45px;
        border-radius: 5px;
    }
    
    textarea{
        padding: 5px;
        border-radius: 10px;
        margin:15px;
    }
    button{
        margin-left: 210px;
    }
    .redes{
        width: 100px;
        height: 100px;
        border-radius: 20px;
        margin-top: 0px;
        margin-left: 50px;
    }
    .logo2{
        width: 100%;
        height: auto;
        border-radius: 20px;
        /* box-shadow: 0 0 30px rgb(206, 206, 206 0.6); */
    }
    
    

}

@media screen and (max-width: 600px){
    .titulo{
        width: 67%;
        height: auto;
        font-size: 25px;
        position: absolute;
        top:6%;
        left:20%;
        
    }
    .logo{
        width: 35px;
        border-radius: 20px;
        position: absolute;
        top:6%;
        left:10%;
        
    }
    h1{
        font-size: 1.5rem;
    }
    h3{
        font-size:1.5rem;
    }
    p{
        font-size: 1.5rem;
    }
    .linea{
        width: 75%;
        height: 1.5px;
    }
    .fotos{
        width: 100px;
        margin-top: 5px;
        height: auto;
        opacity: 0.7;
        transform: translateY(20px);
        transition: transform 0.5s, box-shadow 0.5s, opacity 0.6s;
    }
    form{
        width: 500px;
        height: auto;
        background: linear-gradient(to left, rgb(238, 147, 163),rgb(40, 35, 35));
        display:flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 50px;
        border-radius: 40px;
    }
    input{
        width: 80%;
        height: 50px;
        margin:10px;
        margin-left: 45px;
        border-radius: 5px;
    }
    
    textarea{
        padding: 5px;
        border-radius: 10px;
        margin:15px;
    }
    button{
        margin-left: 210px;
    }
    .redes{
        width: 100px;
        height: 100px;
        border-radius: 20px;
        margin-top: 0px;
        margin-left: 50px;
    }
    .logo2{
        width: 100%;
        height: auto;
        border-radius: 20px;
        /* box-shadow: 0 0 30px rgb(206, 206, 206 0.6); */
    }
    
    

}

@media screen and (max-width: 500px){
    .titulo{
        width: 67%;
        height: auto;
        font-size: 15px;
        position: absolute;
        top:4%;
        left:20%;
        background: linear-gradient(to right, pink,blue);
        display:flex;
        justify-content: center;
        border-radius: 20px;
        transform: translateY(-50px);
        animation: fadeInUp 1s ease-out forwards;
    }
    .logo{
        width: 23px;
        border-radius: 20px;
        position: absolute;
        top:4%;
        left:10%;
        box-shadow: 5px 5px 10px  rgb(146, 31, 50);
        opacity: 0.5;
        transform: translateX(-20px);
        animation: fadeIn 1s ease-out forwards;
        animation-delay: 2s;
    }
    h1{
        font-size: 1rem;
    }
    h3{
        font-size: 1rem;
    }
    p{
        font-size: 1rem;
    }
    .linea{
        width: 75%;
        height: 1px;
    }
    .fotos{
        width:70px;
        margin-top: 5px;
        height: auto;
        opacity: 0.7;
        transform: translateY(20px);
        transition: transform 0.5s, box-shadow 0.5s, opacity 0.6s;
    }
    form{
        width: 250px;
        height: auto;
        background: linear-gradient(to left, rgb(238, 147, 163),rgb(40, 35, 35));
        display:flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 50px;
        border-radius: 40px;
    }
    input{
        width: 80%;
        height: 50px;
        margin:2.5px;
        margin-left: 20px;
        border-radius: 5px;
    }
    
    textarea{
        padding: 5px;
        border-radius: 10px;
        margin:5px;
    }
    button{
        margin-left: 80px;
    }
    
    

}

